<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="${package}.tests" android:versionCode="1" android:versionName="${version}">

    <application android:label="Tests" android:debuggable="true">
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation android:targetPackage="${package}"
        android:name="android.test.InstrumentationTestRunner" />

</manifest>
